
.navigation {
    display: block;
    text-align: center;
    align-self: stretch;
    align-items: center;

}

.hello {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 32px 0 32px 0;
    align-self: stretch;
}


.menu-item {
    display: inline-block;
    text-align: center;
    align-self: stretch;
    width: 120px;

}


.menu-link {
    color: red;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-align: left;
    
}

.photo {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  
}

body {
    margin: 0;
}

.zagolovok {
    color: #373737;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.30px;
    margin-top: 48px;
    margin-bottom: 0;

}


.paragraph {
    color: #373737;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.40px;
    text-align: center;
    margin: 38px 67px 0 67px;

}

.paragraph2 {
    color: #373737;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.40px;
    text-align: center;
    margin: 28px 67px 0 67px;
    padding: 28px 0 0 0;

}
.button {
    background-color: red;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    top: 557px;
    left: 544.5px;
    flex-shrink: 0;
    display: inline-block;
    color: #FFFFFF;
    border: 100px;
    border-color: green;


}


.hello-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 66px 0 82px 0; 


}

.rights {
    text-align: right;
    margin: 0px 105px 29px 105px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.40px;
    height: 39px;
   


}



